@import url('https://fonts.googleapis.com/css2?family=Gidole&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {


   --fonte-primaria: "Kanit", sans-serif;
   --fonte-secundaria: "Gidole", sans-serif;
   --preto: rgb(0, 0, 0);
   --azul-forte: #1b263bff;
   --: azul:(0, 6, 114);
   --azul-fraco: #778da9ff;
   --platina: rgb(32, 35, 100);
}

body {
   background-color: var(--azul-fraco);
   color: var(--blue);
   font-family: var(var--fonte-primaria);
   font-weight: 400;
   font-style: normal;
}

.conteudo-principal {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   max-width: 1200px;
   width: 100;
   margin: 0 auto;
}

.titulo-principal {
   text-align: left;
   width: 100%;
   font-size: 32px;
}

.titulo-principal span {
   color: var(--azul-fraco);

}

.botao {
   font-family: ;
   font-weight: 400%;
   font-style: normal;
   background-color: var() color:;
   display: flex;
   justify-content: center;
   padding: 1em;
   font-size: 18px;
   aling-items: center;
   width: 100% border-bottom: 4px border-left: 4px border-right: 4px border-top: none;

}

.botoes {
   display: block;
}

.botoes:first-child {
   border-radius: 40px 40px 0 0;
}

.botao:last-child {
   border-radius: 0 0 40px 40px;
}

@media screen and (min-widht: 768px) {
   .botoes {
      display: flex;
   }

   .botao:first-child {
      border-radius: 40px 0 0 0;
   }

   .botao:last-child {
      border-radius: 0 40px 0 0;
   }
}

.ativo {
   background-color: blue;
   border-bottom: 4px;
}